#headerBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  /*opacity: 0.9;*/

  background: #006fff;
  overflow: hidden;
  /*border-style: none none solid none;
  border-color: #006fff;*/
  z-index: 1;
}

#content {
  margin: 0px;
  padding: 50px 0px 0px 0px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  overflow: auto;

  font-family: arial;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.events {
    background-color: #006fff; /* Blue */
    color: white;
    font-family: "arial";
    margin: 20px 0 20px 0;
    padding: 20px;
}

.line {
  background-color: #006fff;
  padding: 1px
}

.button {
    background-color: #ffdf00; /* Gold */
    border: none;
    color: white;
    font-family: arial;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

h2 {
  text-align: center;
}