#header {
	position: fixed;
	top: 10px;
	left: 1%;
	width: 98%;
	height: 30px;

	background: none;
	overflow: hidden;
	z-index: 2;
}
#headerBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;

	background: "none";
	overflow: hidden;
	z-index: 1;

}
.setColor {
	background: black;
}
.headerButton {
	/*width: 20%;*/
	height: 30px;
	float: left;
	border-radius: 4px;

	background: none;
	border: none;
	transition: border 0.25s;

	font-family: arial;
	text-align: center;
	align-items: center;
	vertical-align: center;
	font-size: 18px;
	color: white;
	text-decoration: none;
}
.headerButton:hover {
	border: solid 2px white;
}
/*.headerButton:active {
	background: white;
}*/
.headerImage {
	float: left;
	height: 30px;
}
.topImage {
	width: 100%;
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    /*filter: blur(10px);*/
    z-index: -1;
}

body{
	/*background-color: ;*/
    margin:0;
    padding:0;
}